h1 {
    font-size: 2em;
    line-height: 1.1;
    color: white;
  }
  
  .logo {
    height: 6em;
    margin-right: 15px;
    margin-left: 15px;
  }
  
  .logo:hover {
    filter: drop-shadow(0 0 2em green);
  }
  
  .logo.vanilla:hover {
    filter: drop-shadow(0 0 2em #f7df1eaa);
  }
  
  #logo-plus-text {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      width: 100%;
      background-color: darkgray;
  }
  
  #content-body {
      height: 80vh;
      width: 80vw;
      max-width: 600px;
      overflow-y: scroll;
      background-color: lightslategray;
      display: flex; 
      flex-direction: column;
      align-items: center;
      border-radius: 9px;
  }
  
  #form {
      display: flex; 
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  
  h6 {
      margin: 10px;
  }
  
  h4 {
      margin-top: 10px;
      margin-bottom: 0;
  }
  
  input, button {
      width: 200px;
      height: 50px;
      margin-top: 15px;
      border: none;
      border-radius: 5px;
  }
  button:hover {
      cursor: pointer;
  }